<div class="container">
    <hr class="divider" />
    <div id="footer" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div>
                        <p>
                            <strong>Copyright &copy;</strong>
                            <a href="https://bmi.sjtu.edu.cn/" target="_blank">Biomedical Informatics Lab</a>,
                            <a href="http://bme.sjtu.edu.cn/" target="_blank">School of Biomedical Engineering</a>,
                            <a href="https://www.sjtu.edu.cn/" target="_blank">SJTU</a>,
                            China.
                        </p>
                        <p>
                            Any comments and suggestions, please <a href="/help" target="blank">contact us.</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/0.js?i=5ywivogk1dp&amp;d=3&amp;p=1&amp;b=1&amp;w=193&amp;g=2&amp;f=arial&amp;fs=12&amp;r=0&amp;c0=362b05&amp;c1=375363&amp;c2=000000&amp;ic0=0&amp;ic1=0" async="async"></script>
                </div>
            </div>
        </div>
{#        <p>#}
{#            <strong>Copyright &copy;</strong>#}
{#            <a href="https://bmi.sjtu.edu.cn/" target="_blank">Biomedical Informatics Lab</a>,#}
{#            <a href="http://bme.sjtu.edu.cn/" target="_blank">School of Biomedical Engineering</a>,#}
{#            <a href="https://www.sjtu.edu.cn/" target="_blank">SJTU</a>,#}
{#            China.#}
{#        </p>#}
        <div>

        </div>


    </div>
</div>