<style type="text/css">
.html {
    zoom: 80%;
}
.logo {
    text-align: center; 
    border-radius: 20px;
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
}

ul {
  padding:0;
  margin:0;
  font-size:0;
  flex-direction: row;
  justify-content: center;
}
li {
  font-size:20px;
  padding:5px 15px 5px 15px;
  display: inline-block;
  position:relative;
  cursor: pointer;
  transition: all 0.5s;
}
li::before {
  content:'';
  display:block;
  position:absolute;
  width:0%;
  bottom:0;
  border-bottom: 2px solid #999;
  transition: all 0.5s;
}
li:hover::before {
  left:0;
  width:100%;
}
li:hover ~ li::before {
  left:0;
}
</style>


<div class="logo" style = "font-family: 'serif', sans-serif; ">
    <nav>
        <ul>
        <li><div style="position:relative;font-size: 35px;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Emden" class="navbar-brand">
                <span style="color:black; font-size:20px">Home</span>
            </a>
        </div>
        </li>
        <li><div style="position:relative;font-size: 35px;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Emden/download" class="navbar-brand">
                <span style="color:black; font-size:20px">Download</span>
            </a>
        </div>
        </li>
        <li><div style="position:relative;font-size: 35px;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="/Emden/contact" class="navbar-brand">
                <span style="color:black; font-size:20px">Contact</span>
            </a>
        </div>
        </li>
        </ul>
    </nav>
</div>