<div class="container">
    <hr class="divider" />
    <div id="footer" class="text-center">
        <p>
            <strong>Copyright &copy;</strong>
            <a href="https://bmi.sjtu.edu.cn/" target="_blank">Biomedical Informatics Lab</a>,
            <a href="http://bme.sjtu.edu.cn/" target="_blank">School of Biomedical Engineering</a>,
            <a href="https://www.sjtu.edu.cn/" target="_blank">SJTU</a>,
            China.
        </p>
        <p>
            Any comments and suggestions, please <a href="#!/document#contact" target="blank">contact us.</a>
        </p>
    </div>
</div>